.login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    margin-top: 50px;

}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input, button{
    font-size: 20px;
    padding: 10px 15px;
    width: 100%;
    outline: none;
}